<section class="section">
  <app-input (title)="handleData($event)" class="input-wrapper"></app-input>
  @if( arrayTasks().length){
  <ul class="list">
    @for (task of arrayTasks(); track task.id) {

    <li class="item">
      <p [class.completed]="task.completed">
        {{ task.todo }}
      </p>
      <div class="wrap-icons">
        <mat-checkbox
          [checked]="task.completed"
          (change)="changeStatus(task)"
        />

        <button class="transparent-button" (click)="openModal(task.id)">
          <mat-icon color="green">delete</mat-icon>
        </button>
      </div>
    </li>
    }
  </ul>
  } @else {
  <p class="text-center mt-2">There are not any tasks</p>
  }
</section>
